*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  transition: 0.2s ease;
  font-size: 0.825rem;
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.app-container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  color: white;
  background-color: var(--dark);
}

.app-heading {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
  background-color: var(--indigo);
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: 100%;
  margin: 1rem auto 1.25rem;
  cursor: default;
}

.app-description {
  color: var(--dark-gray);
  margin: 1.5rem 0;
  text-align: center;
}

.form-container {
  padding: 1rem 2rem;
  width: 80%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.form {
  background-color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;
  color: var(--dark);
}

.input-section,
.input-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 0.5rem;
  justify-items: start;
  width: 100%;
  margin-bottom: 1rem;
}

button,
.input-header,
.input-group,
.input-list,
.input-card-header,
.project .input-section {
  grid-column: span 2;
}

.input-header {
  width: 100%;
  border-bottom: 1px solid var(--navy);
}

.personal-info .input-header {
  margin-bottom: 1rem;
}

.input-title {
  margin: 1rem 0 0.5rem;
}

.input-list {
  width: 100%;
}

.link.input-card {
  margin-bottom: 0;
}

.project .input-section .input-card {
  position: relative;
}

.project .input-header {
  font-size: 0.65rem;
  border-bottom: none;
  margin-bottom: 0;
}

.project .input-section .input-card-heading {
  display: none;
}

.project .input-section .input-list {
  margin-top: -1.5rem;
}

.project .input-section .delete-btn {
  position: absolute;
  right: 0;
  top: 0.5rem;
}

.project .input-card {
  margin: 0;
  padding: 0;
}

.input-card {
  width: 100%;
  padding: 0 0 1.5rem;
  border-bottom: 1px solid var(--dark-gray);
}

.input-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0 0;
}

.input-card-heading {
  color: var(--dark);
  margin: 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group--small {
  grid-column: span 1;
}

.input-group--checkbox {
  flex-direction: row-reverse;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: start;
  margin-top: 1rem;
}

.input-label {
  color: gray;
  font-size: 0.825rem;
  margin: 0.5rem 0 0.125rem;
}

.input-label--checkbox {
  font-size: 0.9rem;
  color: black;
  margin: 0;
}

.input {
  padding: 0.5rem;
  border: 2px solid var(--bluish-gray);
  background-color: var(--bluish-gray);
  transition: 0.2s linear;
}

.input:focus,
.input:focus-visible,
.input:active {
  border-bottom: 2px solid var(--navy);
  outline: none;
}

.input-caption {
  font-size: 0.75rem;
  margin-top: 0.125rem;
}

.delete-btn {
  background-color: var(--red);
  color: white;
  width: max-content;
  font-size: 0.5rem;
}

.delete-icon {
  padding: 0;
  font-size: 1rem !important;
}

.add-btn {
  background-color: transparent;
  color: var(--indigo);
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin-top: 0.5rem;
}

.resume-container {
  background-color: var(--bluish-gray);
  padding: 2rem 4rem;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.resume {
  background-color: white;
  padding: 2rem 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: black;
}

.section-heading {
  font-size: 14px;
}

.item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.item-heading {
  font-size: 12px;
}

.item-heading,
.item-dates {
  margin-bottom: 0;
}

.item-subheading,
.item-location {
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.item-list {
  padding-left: 10px;
  list-style: disc;
}

.item-bullet {
  font-size: 10px;
}

.download-btn {
  position: fixed;
  width: max-content;
  column-gap: 0.5rem;
  padding: 1rem 1.5rem;
  background-color: var(--navy);
  color: white;
  right: 1.5rem;
  bottom: 1rem;
  z-index: 10;
  font-size: 1rem;
  border: 0;
  border-radius: 4rem;
}

.download-btn:hover,
.download-btn:focus {
  transform: translateY(-0.5rem);
  box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.25);
}

.download-btn:active {
  transform: translateY(0);
  box-shadow: none;
  background-color: var(--bluish-gray);
  color: black;
  outline: none;
}

.download-icon {
  font-size: 1.25rem;
  margin-top: 0.125rem;
}

.section-list,
.input-list {
  padding: 0;
  margin: 0;
}

.divider {
  border: 0.5px solid var(--dark-gray);
}

.section-item,
.input-card {
  list-style: none;
}

.copyright {
  color: var(--dark-gray);
  font-size: 0.625rem;
  text-align: center;
}
